<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tile.yvesv.nativeappsiproject">

    <!-- gives app permission to use internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--Needed for ConnectivityCheck -->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".gui.activities.RankingActivity"
            android:label="Ranking">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Splash"
            android:theme="@style/FullscreenTheme">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".gui.activities.PlayerDetailActivity"
            android:label="Detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.activities.PlayersActivity"
            android:label="Players" />
        <activity
            android:name=".gui.activities.InfoActivity"
            android:label="Info" />
        <activity
            android:name=".gui.activities.BoredActivity"
            android:label="No games?"/>
    </application>

</manifest>